.centre {
    width: 500px !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    margin-top: -250px !important;
    margin-left: -250px !important;
}

.back_button {
    margin-bottom: 1rem !important;
}

.error {
    color: #b46463;
}