.with_background {
    height: 50vh;
    background-image: url(../img/black-frying-pan-with-spaghetti-sauce-near-brown-wooden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.search_card {
    width: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10% !important;
    opacity: 0.9;
}

.vertical_helper {
    position: relative;
    height: 100%;
    
}

.explore_container {
    margin-top: 3rem !important;
}

.show_more {
    margin-top: 1rem !important;
}

.event_card {
    margin: auto !important;
}

.rating {
    text-align: right;
}