.top_margin {
    margin-top: 2rem !important;
}
.carousel {
    display: block !important;
}

.container {
    min-height: 80vh;
}

.scrollable {
    overflow-y: scroll;
    height: 30vh !important;
}

.line_clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }