.navbar {
    margin-bottom: 0 !important;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2) !important;
}

.logo {
    width: 160px;
    height: 50px;
}

.no_padding {
    padding: 0px 0px 8px 0px !important;
}